<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnhegui.hc.mapper.user.UserMapper">

    <insert id="insertBatch">
        INSERT INTO sys_user (username, password, name, email, phone, status,
                              creator, updater, create_time, update_time, deleted)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.username}, #{item.password}, #{item.name}, #{item.email},
             #{item.phone}, #{item.status},
             #{item.creator}, #{item.updater}, NOW(), NOW(), 0)
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch">
        INSERT INTO sys_user (username, password, name, email, phone, status,
                              creator, updater, create_time, update_time, deleted)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.username}, #{item.password}, #{item.name}, #{item.email},
             #{item.phone}, #{item.status},
             #{item.creator}, #{item.updater}, NOW(), NOW(), 0)
        </foreach>
        ON DUPLICATE KEY UPDATE
            username = VALUES(username),
            password = VALUES(password),
            name = VALUES(name),
            email = VALUES(email),
            phone = VALUES(phone),
            status = VALUES(status),
            updater = VALUES(updater),
            update_time = NOW()
    </insert>

</mapper>
