<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnhegui.hc.mapper.order.OrderPayMapper">

    <insert id="insertBatch">
        INSERT INTO order_pay (order_no, pay_no, pay_amount, pay_status, pay_type, pay_time,
            creator, updater, create_time, update_time, deleted)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderNo}, #{item.payNo}, #{item.payAmount}, #{item.payStatus},
             #{item.payType}, #{item.payTime},
             #{item.creator}, #{item.updater}, NOW(), NOW(), 0)
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch">
        INSERT INTO order_pay (order_no, pay_no, pay_amount, pay_status, pay_type, pay_time,
            creator, updater, create_time, update_time, deleted)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderNo}, #{item.payNo}, #{item.payAmount}, #{item.payStatus},
             #{item.payType}, #{item.payTime},
             #{item.creator}, #{item.updater}, NOW(), NOW(), 0)
        </foreach>
        ON DUPLICATE KEY UPDATE
            pay_amount = VALUES(pay_amount),
            pay_status = VALUES(pay_status),
            pay_type = VALUES(pay_type),
            pay_time = VALUES(pay_time),
            updater = VALUES(updater),
            update_time = NOW()
    </insert>

</mapper>
