<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnhegui.hc.mapper.permission.PermissionMapper">
    <insert id="insertBatch">
        insert into permission (id, name, code, type, path, parent_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.name}, #{item.code}, #{item.type}, #{item.path}, #{item.parentId})
        </foreach>
    </insert>
    <insert id="insertOrUpdateBatch">
        insert into permission (id, name, code, type, path, parent_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.name}, #{item.code}, #{item.type}, #{item.path}, #{item.parentId})
        </foreach>
        on duplicate key update
        name = #{item.name},
        code = #{item.code},
        type = #{item.type},
        path = #{item.path},
        parent_id = #{item.parentId}
    </insert>
</mapper>